:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);;
  --white: hsl(0, 0%, 100%);
  --black: rgba(0,0,0,0.75);
  
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Kumbh Sans', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.glass {
  background: none;
  border: none;
  position: relative;
}

.glass .counter {
  position: absolute;
  top: -1rem;
  right: -.5rem;
  padding: .2rem .6rem;
  background-color: var(--orange);
  font-size: 1.1rem;
  z-index: 0;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
}

.primary {
  padding: 2rem;
  background-color: var(--orange);
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  }

  .primary:hover {
    box-shadow: 0px 12px 16px rgba(255, 151, 70, 0.4);
  }

  .round-white {
    height: 5rem;
    width: 5rem;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);

  }
.mbl-only {
  display: none;
}

.dsk-only {
  display: block;
}

menu,ul,ol {
  list-style: none;
  padding-inline-start: none;
}

button {
  cursor: pointer;
}
dialog::backdrop {
  background-color: rgba(0,0,0,0.75);
}
@media (max-width: 1200px) {
  .container {
    padding: 0 2rem;
  }
  .mbl-only {
    display: block;
  }
  .dsk-only {
    display: none;
  }
}